<h1 class="text-white">
  <%= @public_entry.name %>
</h1>

<%= form_for :issue, "#", [phx_submit: "submit"], fn f -> %>
  <%= text_input f, :title, class: "el-input", placeholder: "Title" %>
  <%= textarea f, :description, class: "el-input", placeholder: "Description" %>
  <%= submit "Create issue", class: "el-button" %>
<% end %>
