<%= if @signed_in? do %>
  <div class="text-dark-600 my-4">
    <%= live_redirect "← Back to account", to: Routes.dashboard_path(@socket, :index) %>
  </div>
<% end %>

<h1 class="text-white">
  <%= @public_entry.name %>
</h1>

<%= form_for :issue, "#", [phx_submit: "submit"], fn f -> %>
  <%= text_input f, :title, class: "el-input", placeholder: "Title" %>
  <%= textarea f, :description, class: "el-input", placeholder: "Description" %>
  <%= submit "Create issue", class: "el-button" %>
<% end %>
