<div class="text-dark-600 my-4">
  <%= live_redirect "← Back to account", to: Routes.dashboard_path(@socket, :index) %>
</div>

<div class="w-full sm:w-1/2 mx-auto mt-16">
  <%= form_for @changeset, "#", [phx_change: "validate", phx_submit: "submit"], fn f -> %>
    <div class="pb-8 mb-8 border-b border-dark-200">
      <span class="text-dark-600 text-2xl">Configure Issue Sync</span>
    </div>

    <p class="text-dark-500 text-sm mb-8">
      LinearSync will use these options to sync issues between GitHub and Linear automatically.
    </p>

    <div class="bg-dark-150 rounded-sm px-4 py-6 mb-8">
      <div class="px-4 py-4 flex items-center">
        <h3 class="text-dark-500 text-sm mr-4">
          GitHub options
        </h3>
        <div class="border-b border-dark-300 mt-1 flex-grow"></div>
      </div>

      <div class="flex items-center mb-3">
        <div class="px-4 py-1 w-32">
          <label class="text-dark-500 text-sm">Repo</label>
        </div>
        <div class="mr-4 pl-4 py-1 text-dark-600 text-sm border-2 border-transparent">
          <%= @issue_sync.dest_name %>
        </div>
      </div>

      <div class="px-4 py-4 flex items-center">
        <h3 class="text-dark-500 text-sm mr-4">
          Linear options
        </h3>
        <div class="border-b border-dark-300 mt-1 flex-grow"></div>
      </div>

      <div class="flex items-center mb-3">
        <div class="px-4 py-1 w-32">
          <label class="text-dark-500 text-sm">Team</label>
        </div>
        <div class="mr-4 pl-4 w-40 py-1 text-dark-600 text-sm border-2 border-transparent">
          <%= @issue_sync.source_name %>
        </div>
      </div>

      <div class="flex items-center mb-3">
        <div class="px-4 py-1 w-32">
          <label class="text-dark-500 text-sm">Open Status</label>
        </div>
        <%= select f, :open_state_id, @states, prompt: "Default status", class: "mr-4 pl-4 w-40 py-1 text-dark-600 text-sm cursor-pointer border-2 border-transparent hover:border-dark-200 outline-none rounded bg-transparent hover:bg-dark-100 transition-bg duration-100", disabled: Enum.empty?(@states) %>
      </div>

      <div class="flex items-center mb-3">
        <div class="px-4 py-1 w-32">
          <label class="text-dark-500 text-sm">Close Status</label>
        </div>
        <%= select f, :close_state_id, @states, prompt: "No close status", class: "mr-4 pl-4 w-40 py-1 text-dark-600 text-sm cursor-pointer border-2 border-transparent hover:border-dark-200 outline-none rounded bg-transparent hover:bg-dark-100 transition-bg duration-100", disabled: Enum.empty?(@states) %>
      </div>

      <div class="flex items-center mb-3">
        <div class="px-4 py-1 w-32">
          <label class="text-dark-500 text-sm">Label</label>
        </div>
        <%= select f, :label_id, @labels, prompt: "No label", class: "mr-4 pl-4 w-40 py-1 text-dark-600 text-sm cursor-pointer border-2 border-transparent hover:border-dark-200 outline-none rounded bg-transparent hover:bg-dark-100 transition-bg duration-100", disabled: Enum.empty?(@labels) %>
      </div>

      <div class="border-b border-dark-300 mx-4 mb-6"></div>

      <div class="flex items-center">
        <%= label f, :assignee_id, class: "px-4" do %>
          <%= checkbox f, :assignee_id, checked_value: @viewer["id"], unchecked_value: nil %>
          <span class="text-dark-600 text-sm ml-2">
            Self-assign new issues (<%= @viewer["name"] %>)
          </span>
        <% end %>
      </div>
    </div>

    <%= submit "Update issue sync", class: "el-button" %>
  <% end %>
</div>
